{% extends 'base.html' %}



{% block script1 %} 
<head>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Power Smart Energy Management Platform">
    <meta name="author" content="Jiayu Chen">

    <title>Power Smart Energy Management Platform</title>


    <!-- Bootstrap Core CSS -->

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <!-- Not Added -->
    <link href="/assets/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- Add customized style here -->
    <link href="/assets/css/sb-admin-2.css" rel="stylesheet">
    <link href="/assets/css/customize.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <!-- Considering add d3.js -->
    <link href="/assets/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- Important need to keep here -->
    <link href="/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/assets/js/jquery-1.11.0.js"></script>
    <script src="/assets/js/plugins/highchart/highcharts.js"></script>
    <script src="/assets/js/plugins/highchart/exporting.js"></script>

     <script type="text/javascript">
        $(function () {
                $('#container').highcharts({
                    title: {
                        text: 'Daily Energy Consumption',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'Power Smart Energy Conpetition',
                        x: -20
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: {
                            month: '%e. %b',
                            year: '%b'
                        },
                        labels: {
                            format: '{value:%Y/%m/%d %H:%M}' 
                        },
                       title: {
                            text: 'Date-Time'
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Energy Consumption (kWh)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: 'kWh'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: '{{ profiles.English_name }}',
                        lineWidth: 4,
                        marker: {
                        radius: 5
                        },
                        data: [
                            {% for enbucket in enbuckets %}
                                [ Date.UTC( {{ enbucket.strtime }} ), {{ enbucket.envalue }} ],
                            {% endfor %}
                        ]
                    }]
                });
            });
    </script>


</head>
{% endblock %}



{% block content %}

<div id="page-wrapper" style="background-color: #ffffff">
    <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Profile</h1>
    </div>
    <!-- /.col-lg-12 -->
    </div>
    <div id="container" style="width:100%; height:600px;"></div>
</div>
        
   


    



{% endblock %}