{% extends 'base.html' %}

{% block script1 %} 
<head>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Power Smart Energy Management Platform">
    <meta name="author" content="Jiayu Chen">

    <title>Power Smart Energy Management Platform</title>


    <!-- Bootstrap Core CSS -->

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <!-- Not Added -->
    <link href="/assets/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- Add customized style here -->
    <link href="/assets/css/sb-admin-2.css" rel="stylesheet">
    <link href="/assets/css/customize.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <!-- Important need to keep here -->
    <link href="/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/assets/js/jquery-1.11.0.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Additional Libraries -->
    <script src="/assets/js/plugins/bootbox.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function(){
            $('.btn-success').on('click', function(){
                bootbox.alert("Message was sucessfully submitted!")
            })
        });
    </script>


</head>
{% endblock %}




{% block content %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">User Profile</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <ul class="nav nav-tabs">
                <li class="active"><a href="#Account" data-toggle="tab"><i class="fa fa-user"></i> Account</a></li>
                <li class=""><a href="#Password" data-toggle="tab"><i class="fa fa-key"></i> Password</a></li>
                <li class=""><a href="#Inquiry" data-toggle="tab"><i class="fa fa-tag"></i> Inquiry</a></li>
            </ul>


            <div id="all_tabs" class="tab-content">

                <div class="tab-pane fade active in" id="Account">
                        <form role="form" method="post" action="/accounts/profile/update">              
                           {% csrf_token %} 
                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="separator bottom"></div>
                                        <div class="separator bottom"></div>
                                        <h5>English Name</h5>
                                        <input class="form-control" id="id_English_name" name="English_name" type="text" value="{{ profiles.English_name }}" style="width: 90%;">
                                        <div class="separator bottom"></div>
                                        
                                        <h5>Chinese Name</h5>
                                        <input class="form-control" id="id_Chinese_name" name="Chinese_name" type="text" value="{{ profiles.Chinese_name }}" style="width: 90%;">
                                        <div class="separator bottom"></div>
                                        
                                        <h5>Initials</h5>
                                        <input class="form-control" id="id_Initials" name="Initials" type="text" value="{{ profiles.Initials }}" style="width: 90%;">
                                        <div class="separator bottom"></div>

                                        <h5>Phone Number</h5>
                                        <input class="form-control" id="id_Phone_number" name="Phone_number" type="text" value="{{ profiles.Phone_number }}" style="width: 90%;">
                                        <div class="separator bottom"></div>
                                        
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="separator bottom"></div>
                                        <div class="separator bottom"></div>
                                        <img src='{{MEDIA_URL}}{{ profiles.image }}' alt="" width="150"/>
                                        <div class="separator bottom"></div>
                                        <div class="separator bottom"></div>
                                        
                                        <h5>Update Image</h5>
                                        <div class="fileupload fileupload-new margin-none" data-provides="fileupload">
                                        <span class="btn btn-default btn-file"><input id="id_image" name="image" type="file" class="margin-none" /></span>
                                        <span class="fileupload-preview"></span>
                                        </div>
                                        <div class="separator bottom"></div>
                                        <div class="separator bottom"></div>    
                                    </div> 
                                </div>

                                <div class="row">
                                    <div class="col-md-10">
                                        
                                        <h5>Email</h5>
                                        <div class="form-group input-group">
                                        <span class="input-group-addon"> @ </span><input class="form-control" id="id_Email" name="Email" type="text" value="{{ profiles.Email }}" style="width: 90%;">
                                        </div>

                                        <h5>Description</h5>
                                        <div class="form-group input-group">
                                        <span class="input-group-addon">Des</span><input class="form-control" id="id_Distription" name="Distription" type="text" value="{{ profiles.Distription }}" style="width: 90%;">
                                        </div>

                                        <h5>Address</h5>
                                        <div class="form-group input-group">
                                        <span class="input-group-addon">Add</span><input class="form-control" id="id_Address" name="Address" type="text" value="{{ profiles.Address }}" style="width: 90%;">
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="separator bottom" style="padding:0 0 200px"></div>
                                        <button type="submit" class="btn btn-info pull-right" value="submit">update</button>
                                        <a href="/accounts/dashboard/" class="btn btn-inverse pull-right">cancel</a>
                                    </div>
                                </div>
                            </div>            
                                       
                        </form>

                </div>

                <div class="tab-pane fade" id="Password">
                    <p>Update Password</p>
                    <form class="bs-example row" role="form" novalidate="novalidate">
                        
                        <div class="separator bottom"></div>
                        <h5>English Name</h5>
                        <input class="form-control" id="id_English_name" name="English_name" type="text" value="{{ profiles.English_name }}" style="width: 90%;">
                        <div class="separator bottom"></div>

                    </form>
                    <p></p>
                </div>

                <div class="tab-pane fade" id="Inquiry">
                    <div class="separator bottom" style="padding:0 0 60px"></div>   
                        <div class="col-md-8 col-md-offset-2">
                            <div class="jumbotron bg-white margin-none center" style="background-color: #F0FFFF">
                                <form role="form" method="post" action="/accounts/profile/submit">
                                    {% csrf_token %} 
                                    <h4 style="color: #4169E1 ">Contact the supporters</h4>
                                    <div class="separator bottom"></div> 
                                    <h5>Your Full Name</h5>
                                    <input class="form-control" id="id_full_name" name="full_name" type="text" placehoder="Type your name here" style="width: 60%;">

                                    <h5>Your Organization</h5>
                                    <input class="form-control" id="id_organization" name="organization" type="text" placehoder="Type your company name here" style="width: 60%;">

                                    <h5>Email</h5>
                                    <div class="form-group input-group">
                                    <span class="input-group-addon"> @ </span><input class="form-control" id="id_email" name="email" type="text" placehoder="{{ profiles.Email }}" style="width: 60%;">
                                    </div>

                                    <h5>Message</h5><textarea class="form-control" id="id_message" name="message" placehoder="Add your message"></textarea>
                                    <div class="separator bottom"></div> 
                                    <div class="separator bottom"></div>

                                    
                                    <button type="submit" class="btn btn-success pull-left" value="submit" >submit</button>

                                </form>


                            </div>
                        </div>
                </div>
            </div>

        </div>

{% endblock %}