{% extends 'base.html' %}
{% block script1 %}	

	<!--[if lt IE 9]><link rel="stylesheet" href="/assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
	<link rel="stylesheet" href="/assets/css/admin/module.admin.page.form_elements.min.css" />
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


<script src="/assets/components/library/jquery/jquery.min.js?v=v1.2.3"></script>
<script src="/assets/components/library/jquery/jquery-migrate.min.js?v=v1.2.3"></script>
<script src="/assets/components/library/modernizr/modernizr.js?v=v1.2.3"></script>
<script src="/assets/components/plugins/less-js/less.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js?v=v1.2.3"></script>
<script src="/assets/components/plugins/browser/ie/ie.prototype.polyfill.js?v=v1.2.3"></script>
{% endblock %}




<body>

{% block content %}


<div id="content"><h1 class="content-heading bg-white border-bottom">Clients</h1>
  <div class="innerAll spacing-x2">
  <div class="widget widget-inverse">
  
  <h5 class="innerAll half margin-bottom-none bg-info"><i class="fa fa-user fa-fw"></i> Edit Client</h5>
	
  <form role="form" method="post" action="/accounts/clients/update">              
     {% csrf_token %}
	<div class="widget-body">
	<div class="row">
		<div class="col-md-6">
		<input type='hidden' name='iid' id='id_iid' value='{{ edit_client.iid }}'></input>
		<h5>English name</h5>
		<input class="form-control" id="id_English_name" name="English_name" type="text" value="{{ edit_client.English_name }}">
		<div class="separator bottom"></div>
		
		<h5>Chinese name</h5>
		<input class="form-control" id="id_Chinese_name" name="Chinese_name" type="text" value="{{ edit_client.Chinese_name }}">
		<div class="separator bottom"></div>
		
		<h5>HKID</h5>
		<input class="form-control" id="id_HKID" name="HKID" type="text" value="{{ edit_client.HKID }}">
		<div class="separator bottom"></div>
		
		<h5>Age</h5>
		<input class="form-control" id="id_Age" name="Age" type="number" value="{{ edit_client.Age }}">
		<div class="separator bottom"></div>
		
		<h5>Gender</h5>
		<select id="id_Gender" name="Gender" style="width: 50%;">
	    <option value="M" selected="selected" >Male</option>
	    <option value="F">Female</option>
	    </select>
		<div class="separator bottom"></div>
		
		<h5 class="strong">*Is Activate</h5>
		<div class="make-switch" data-on="danger" data-off="default"><input type="checkbox" checked="checked" id="id_is_activate" name="is_activate"></div>
		<div class="separator bottom"></div>
		
	   </div>  
	   
	   <div class="col-md-6">
	   <h5>Center</h5>
	   <input class="form-control" id="id_Center" name="Center" type="text" value="{{ edit_client.Center }}">   
	   <h6>Floor</h6>
	   <input class="form-control" id="id_Floor" name="Floor" type="text" value="{{ edit_client.Floor }}">   
	   <h6>Room</h6>
	   <input class="form-control" id="id_Room" name="Room" type="text" value="{{ edit_client.Room }}">
	   <h6>Bed</h6>
	   <input class="form-control" id="id_Bed" name="Bed" type="text" value="{{ edit_client.Bed }}">
	   <div class="separator bottom"></div>
	   
	   <h5>Allergy</h5>
	   <input class="form-control" id="id_Allergy" name="Allergy" type="text" value="{{ edit_client.Allergy }}">
	   <div class="separator bottom"></div>
	   
       <div class="separator bottom"></div>
       <div class="separator bottom"></div>
       <div class="separator bottom"></div>
       <div class="separator bottom"></div>
       <div class="separator bottom"></div>
       <div class="separator bottom"></div>
       <div class="separator bottom"></div>
       <div class="separator bottom"></div>
       <div class="separator bottom"></div>
       <div class="separator bottom"></div>
       	
	   <button type="submit" class="btn btn-info pull-right" value="add_treat">Update</button>
	   <a href="/accounts/clients/" class="btn btn-inverse pull-right">cancel</a>

      </div>           
    </div>
  </form>
  </div>
  </div>
</div>

{% endblock %}	

	

<!-- Global -->
<script>
var basePath = '',
	commonPath = '/assets/',
	rootPath = '/',
	DEV = false,
	componentsPath = '/assets/components/';

var primaryColor = '#cb4040',
	dangerColor = '#b55151',
	infoColor = '#466baf',
	successColor = '#8baf46',
	warningColor = '#ab7a4b',
	inverseColor = '#45484d';

var themerPrimaryColor = primaryColor;
</script>
	


{% block script2 %}
<script src="/assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.2.3"></script>
<script src="/assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.2.3"></script>
<script src="/assets/components/plugins/breakpoints/breakpoints.js?v=v1.2.3"></script>
<script src="/assets/components/core/js/animations.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-switch/assets/lib/js/bootstrap-switch.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-switch/assets/custom/js/bootstrap-switch.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/uniform/assets/lib/js/jquery.uniform.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/uniform/assets/custom/js/uniform.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/modals/assets/js/bootbox.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/modals/assets/js/modals.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/wizards/assets/lib/jquery.bootstrap.wizard.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/wizards/assets/custom/js/form-wizards.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/jasny-fileupload/assets/js/bootstrap-fileupload.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/button-states/button-loading/assets/js/button-loading.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/select2/assets/lib/js/select2.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/select2/assets/custom/js/select2.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/inputmask/assets/lib/jquery.inputmask.bundle.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/inputmask/assets/custom/inputmask.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/lib/js/bootstrap-datepicker.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/custom/js/bootstrap-datepicker.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-timepicker/assets/lib/js/bootstrap-timepicker.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-timepicker/assets/custom/js/bootstrap-timepicker.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/colorpicker-farbtastic/assets/js/farbtastic.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/colorpicker-farbtastic/assets/js/colorpicker-farbtastic.init.js?v=v1.2.3"></script>
<script src="/assets/components/plugins/holder/holder.js?v=v1.2.3"></script>
<script src="/assets/components/core/js/sidebar.main.init.js?v=v1.2.3"></script>
<script src="/assets/components/core/js/sidebar.collapse.init.js?v=v1.2.3"></script>
<script src="/assets/components/helpers/themer/assets/plugins/cookie/jquery.cookie.js?v=v1.2.3"></script>
<script src="/assets/components/core/js/core.init.js?v=v1.2.3"></script>	
{% endblock %}	


</body>
</html>