/*
Customized CSS for PSEP
Author: Jiayu Chen
*/


/* Utility Style */
.box {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  overflow: visible;
  background: #fafafa;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 1px #e7e7e7;
  -moz-box-shadow: 1px 1px 1px #e7e7e7;
  box-shadow: 1px 1px 1px #e7e7e7;
}
.box .content-right {
  margin-left: 100px;
  position: relative;
}
.box form {
  padding-left: 20px;
  padding-right: 20px;
}
.box:hover {
  background: #ffffff;
}
.box.hp_knob {
  width: 100px;
  float: left;
}
.box .title {
  font-size: 10px;
  font-weight: 500;
  color: #efad29;
}
.box .title a {
  font-size: 9px;
  font-weight: 300;
}
.box .title.red {
  color: #c95b5b;
}
.box .title.orange {
  color: #efad29;
}
.box .title.green {
  color: #7ac17d;
}
.box .title.gray {
  color: #716b7a;
}
.box .title.blue {
  color: #6bb5c1;
}
.box .title.black {
  color: #444;
}
.box .value {
  font-size: 18px;
  margin-top: -5px;
  font-weight: 500;
  color: black;
}
.box .value a {
  font-weight: 300;
  font-size: 9px;
}
.box .value.red {
  color: #c95b5b;
}
.box .value.orange {
  color: #efad29;
}
.box .value.green {
  color: #7ac17d;
}
.box .value.gray {
  color: #716b7a;
}
.box .value.blue {
  color: #6bb5c1;
}
.box .value.black {
  color: #444;
}
.box .minichart {
  float: left;
  height: 70px;
  width: 85px;
  background: #4aa1af;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  margin-right: 10px;
}
.box .minichart.red {
  background: #c95b5b;
}
.box .minichart.orange {
  background: #efad29;
}
.box .minichart.green {
  background: #7ac17d;
}
.box .minichart.gray {
  background: #716b7a;
}
.box .minichart.blue {
  background: #6bb5c1;
}
.box .minichart.black {
  background: gray;
}
.box .icon {
  float: left;
  height: 70px;
  width: 85px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-left: 22px;
  margin-right: 10px;
  font-size: 48px;
  color: white;
  background: #4aa1af;
}
.box .icon.red {
  background: #c95b5b;
}
.box .icon.orange {
  background: #efad29;
}
.box .icon.green {
  background: #7ac17d;
}
.box .icon.gray {
  background: #716b7a;
}
.box .icon.blue {
  background: #6bb5c1;
}
.box .icon.black {
  background: black;
}




/* Header Nav CSS */
.page-header{
  padding-bottom:9px;
  margin:20px 0 20px;
  border-bottom: 2px solid #eee;}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
}

.navbar-default.navbar-static-top{
  background-color: #00BFFF;
  border-color: #ffffff;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
  color: #000000;
}

.navbar-top-links li i {
  color: #ffffff;
}

.navbar-top-links li li i {
  color: #696969;
}

.navbar-top-links  .open > a, .navbar-top-links  .open > a:hover, .navbar-top-links .open > a:focus, .navbar-top-links > li > a:focus, .navbar-top-links > li > a:hover{
  background-color: #ffffff;
  border-color: #428bca;
}

.navbar-top-links  .open > a i, .navbar-top-links  .open > a:hover i, .navbar-top-links .open > a:focus i, .navbar-top-links > li > a:focus i, .navbar-top-links > li > a:hover i {
  color: #00BFFF;
}


/* Sider Nav CSS */
.sidebar .sidebar-nav a {
    color: #000000;
}


/* Login style */
.login-panel {
   margin-top: 20px;
}

#footer {
  position: fixed;
  z-index: 2;
  height: 40px;
  line-height: 40px;
  background: #f8f8f8;
  bottom: 0;
  left: 250px;
  right: 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}


/* ********************************************************** */