{% extends "loginbase.html" %}
{% load i18n %}


{% block content %}

 <div class="container">
       
    <div class="row">
        <div id="content"><h1 class="innerAll margin-none border-bottom text-center" style="font-size: 25px; margin-top: 80px; margin-bottom: 20px; color: #696969;"><i class="fa fa-power-off"></i>&nbsp {% trans "Logged out" %}</h1>
            <div class="col-md-8 col-md-offset-2">
		        <div class="widget-body padding-none">
					<div class="jumbotron bg-white margin-none center">
						<h3 class="separator bottom">You have been successfully logged out!</h3>
						<p>Thank you for using <font color="#00BFFF">PSEP</font> !</p>
						<p>If you have any questions or suggestions on how we can improve PSEP, we would be happy to get your <a href="/contact" style="color: #DC143C">feedback</a>.</p>
					</div>
				</div>
            </div>
        </div>
    </div>


</div>

{% endblock %}