{% extends "loginbase.html" %}
{% load i18n %}

{% block content %}
<div id="content"><h4 class="innerAll margin-none border-bottom text-center"><i class="fa fa-pencil"></i> You can not a new account</h4>


<div class="login spacing-x2">
	<div class="placeholder text-center"><i class="fa fa-times-circle"></i></div>
</div>
<div class="innerAll spacing-x2">
	
	<div class="widget">
		<div class="widget-body padding-none">
			<div class="jumbotron bg-white margin-none center">
				<h2 class="separator bottom">Sorry! The registration is closed!</h2>
				<p>Please contact the web manager to register an account, sorry for the inconvenience!</p>
			</div>
		</div>
	</div>
	
</div>

</div>

{% endblock %}