{% extends 'base.html' %}
{% block script1 %}	

	<!--[if lt IE 9]><link rel="stylesheet" href="/assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
	<link rel="stylesheet" href="/assets/css/admin/module.admin.page.index.min.css" />
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


<script src="/assets/components/library/jquery/jquery.min.js?v=v1.2.3"></script>
<script src="/assets/components/library/jquery/jquery-migrate.min.js?v=v1.2.3"></script>
<script src="/assets/components/library/modernizr/modernizr.js?v=v1.2.3"></script>
<script src="/assets/components/plugins/less-js/less.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js?v=v1.2.3"></script>
<script src="/assets/components/plugins/browser/ie/ie.prototype.polyfill.js?v=v1.2.3"></script>
{% endblock %}




<body>

{% block content %}


<div id="content"><h1 class="content-heading bg-white border-bottom">Generate QR</h1>
 
  <div class="innerAll spacing-x2">
  <div class="col-md-6">
  <div class="widget widget-inverse">
  <div class="widget-head">
	<h4 class="heading">Generate QR code for single client</h4>
  </div>
	
  <form role="form" method="post" action="/accounts/QRcode/Single_QR">              
   {% csrf_token %} 
	<div class="widget-body">
			
				<h5>Username</h5>
				<select id="id_iid" name="iid" style="width: 50%;">
				<option value="" selected="selected">---------</option>
                {% for client in clients %}
                <option value="{{ client.iid }}">{{ client.English_name }}</option>
                {% endfor %}
				</select>
				<div class="separator bottom"></div>
				
				
				<div class="input-group date" id="datepicker3">
                <input class="form-control" id ="id_date" name="date" type="text" value="Today">
                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                </div>
                <div class="separator bottom"></div>
                
                
			<div class="col-md-3">
	            <h5>Timeslot 1</h5>
	            <input class="form-control" id="id_Timeslot1" name="Timeslot1" type="number" value="0">
				<div class="separator bottom"></div>			
			</div>		
			<div class="col-md-3">
	            <h5>Timeslot 2</h5>
				<input class="form-control" id="id_Timeslot2" name="Timeslot2" type="number" value="0">
				<div class="separator bottom"></div>			
			</div>
			<div class="col-md-3">
	            <h5>Timeslot 3</h5>
				<input class="form-control" id="id_Timeslot3" name="Timeslot3" type="number" value="0">
				<div class="separator bottom"></div>			
			</div>
			<div class="col-md-3">
	            <h5>Timeslot 4</h5>
				<input class="form-control" id="id_Timeslot4" name="Timeslot4" type="number" value ="0">
				<div class="separator bottom"></div>			
			</div>
			
			     <button type="submit" class="btn btn-info" value="add_treat">Generate QR Code</button>
			                  
	</form>
  </div>
  </div>
 </div>
 
 
 <div class="col-md-6">
  <div class="widget widget-inverse">
  <div class="widget-head bg-primary">
	<h4 class="heading ">Generate QR code for all clients</h4>
  </div>
	
  <form role="form" method="post" action="/accounts/QRcode/all_QR">              
   {% csrf_token %} 
	<div class="widget-body">
				
				
				<div class="input-group date" id="datepicker2">
                <input class="form-control" id ="id_date" name="date" type="text" value="Today" >
                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                </div>
                <div class="separator bottom"></div>
			
			
			<div class="col-md-3">
	            <h5>Timeslot 1</h5>
	            <input class="form-control" id="id_Timeslot1" name="Timeslot1" type="number" value="0">
				<div class="separator bottom"></div>			
			</div>		
			<div class="col-md-3">
	            <h5>Timeslot 2</h5>
				<input class="form-control" id="id_Timeslot2" name="Timeslot2" type="number" value="0">
				<div class="separator bottom"></div>			
			</div>
			<div class="col-md-3">
	            <h5>Timeslot 3</h5>
				<input class="form-control" id="id_Timeslot3" name="Timeslot3" type="number" value="0">
				<div class="separator bottom"></div>			
			</div>
			<div class="col-md-3">
	            <h5>Timeslot 4</h5>
				<input class="form-control" id="id_Timeslot4" name="Timeslot4" type="number" value ="0">
				<div class="separator bottom"></div>			
			</div>
			
			     <button type="submit" class="btn btn-primary" value="add_treat">Generate ALL QR Code</button>
		</div>	                  
	</form>
  </div>
 </div>
</div>

{% endblock %}	

	

<!-- Global -->
<script>
var basePath = '',
	commonPath = '/assets/',
	rootPath = '/',
	DEV = false,
	componentsPath = '/assets/components/';

var primaryColor = '#cb4040',
	dangerColor = '#b55151',
	infoColor = '#466baf',
	successColor = '#8baf46',
	warningColor = '#ab7a4b',
	inverseColor = '#45484d';

var themerPrimaryColor = primaryColor;

var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!

var yyyy = today.getFullYear();
if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm} today = mm+'/'+dd+'/'+yyyy;
$(function() {
    
    $('#Today').attr('value', today);

    
});


</script>
	


{% block script2 %}
<script src="/assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.2.3"></script>
<script src="/assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.2.3"></script>
<script src="/assets/components/plugins/breakpoints/breakpoints.js?v=v1.2.3"></script>
<script src="/assets/components/core/js/animations.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-switch/assets/lib/js/bootstrap-switch.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-switch/assets/custom/js/bootstrap-switch.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/uniform/assets/lib/js/jquery.uniform.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/uniform/assets/custom/js/uniform.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/modals/assets/js/bootbox.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/modals/assets/js/modals.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/wizards/assets/lib/jquery.bootstrap.wizard.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/wizards/assets/custom/js/form-wizards.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/jasny-fileupload/assets/js/bootstrap-fileupload.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/button-states/button-loading/assets/js/button-loading.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/select2/assets/lib/js/select2.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/select2/assets/custom/js/select2.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/inputmask/assets/lib/jquery.inputmask.bundle.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/inputmask/assets/custom/inputmask.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/lib/js/bootstrap-datepicker.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/custom/js/bootstrap-datepicker.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-timepicker/assets/lib/js/bootstrap-timepicker.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/bootstrap-timepicker/assets/custom/js/bootstrap-timepicker.init.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/colorpicker-farbtastic/assets/js/farbtastic.min.js?v=v1.2.3"></script>
<script src="/assets/components/modules/admin/forms/elements/colorpicker-farbtastic/assets/js/colorpicker-farbtastic.init.js?v=v1.2.3"></script>
<script src="/assets/components/plugins/holder/holder.js?v=v1.2.3"></script>
<script src="/assets/components/core/js/sidebar.main.init.js?v=v1.2.3"></script>
<script src="/assets/components/core/js/sidebar.collapse.init.js?v=v1.2.3"></script>
<script src="/assets/components/helpers/themer/assets/plugins/cookie/jquery.cookie.js?v=v1.2.3"></script>
<script src="/assets/components/core/js/core.init.js?v=v1.2.3"></script>	
{% endblock %}	


</body>
</html>