<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html> <![endif]-->
<!--[if !IE]><!--><html><!-- <![endif]-->


{% block script1 %}	
<head>
	
	<!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Power Smart Energy Management Platform">
    <meta name="author" content="Jiayu Chen">

    <title>Power Smart Energy Management Platform</title>


    <!-- Bootstrap Core CSS -->

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <!-- Not Added -->
    <link href="/assets/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- Add customized style here -->
    <link href="/assets/css/sb-admin-2.css" rel="stylesheet">
    <link href="/assets/css/customize.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <!-- Considering add d3.js -->
    <link href="/assets/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- Important need to keep here -->
    <link href="/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
{% endblock %}



<body>
<div id="wrapper">
{% include 'navi.html' %}


{% block content %}

{% endblock %}

{% include 'footer.html'%}
<!-- jQuery Version 1.11.0 -->
</div>
<script src="/assets/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/assets/js/plugins/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/assets/js/plugins/morris/raphael.min.js"></script>
<script src="/assets/js/plugins/morris/morris.min.js"></script>
<script src="/assets/js/plugins/morris/morris-data.js"></script>
<script src="/assets/js/plugins/utils/popover.js"></script>

    <!-- Custom Theme JavaScript -->
<script src="/assets/js/sb-admin-2.js"></script>


</body>
</html>